src/app/calendar-menu/addCalendarDialog.html
<div class="fc fc-unthemed fc-ltr"><div class="addCalendarHeader">Nuevo Calendario</div><br/><form><div class="addCalendarTableRow"><div class="addCalendarTableCell"><label for="calendarName">Nombre Calendario</label></div></div><div class="addCalendarTableRow"><div class="addCalendarTableCell"><div class="eventInputCell"><input type="text" name="calendarName" ng-model="calendarName"/></div></div></div></form><button type="button" ng-click="closeThisDialog(calendarName)" class="fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></div>

src/app/calendar-menu/addCalendarDialog.jade
.fc.fc-unthemed.fc-ltr
  .addCalendarHeader Nuevo Calendario
  br
  form
    .addCalendarTableRow
      .addCalendarTableCell
        label(for="calendarName") Nombre Calendario
    .addCalendarTableRow
      .addCalendarTableCell
        .eventInputCell
          input(type="text" name="calendarName" ng-model='calendarName')

  button.fc-button(type="button" ng-click="closeThisDialog(calendarName)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
