src/app/calendar-menu/addEventDialog.jade
.fc.fc-unthemed.fc-ltr
  .addEventHeader Nuevo Evento
  form
    .addEventTableRow
      .addEventTableCell
        label(for="calendarName") Evento &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        .eventInputCell
          input(type="text" name="evento" ng-model='event.title' required)
    .addEventTableRow
      .addEventTableCell
        label(for="inicioEvento") Inicio &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="date" name="inicioEvento" ng-model='event.start' required)
    .addEventTableRow
      .addEventTableCell
        label(for="finEvento") Fin &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="date" name="finEvento" ng-model='event.end' required)
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(event)") Guardar
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/calendar-menu/addEventDialog.html
<div class="fc fc-unthemed fc-ltr"><div class="addEventHeader">Nuevo Evento</div><form><div class="addEventTableRow"><div class="addEventTableCell"><label for="calendarName">Evento &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><div class="eventInputCell"><input type="text" name="evento" ng-model="event.title" required="required"/></div></div></div><div class="addEventTableRow"><div class="addEventTableCell"><label for="inicioEvento">Inicio &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><input type="date" name="inicioEvento" ng-model="event.start" required="required"/></div></div><div class="addEventTableRow"><div class="addEventTableCell"><label for="finEvento">Fin &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><input type="date" name="finEvento" ng-model="event.end" required="required"/></div></div><button type="button" ng-click="closeThisDialog(event)" class="calendarMenuButton fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="calendarMenuButton fc-button">Cancelar</button></form></div>
