src/app/calendar-menu/addShiftDialog.jade
.fc.fc-unthemed.fc-ltr
  .addShiftHeader Nuevo Turno
  br
  form
    .addShiftTableRow
      .addShiftTableCell
        label(for="shiftName") Nombre
      .addShiftTableCell
        .eventInputCell
          input(type="text" name="shiftName" ng-model='shift.name')
    .addShiftTableRow
      .addShiftTableCell
        label(for="shiftColor") Color Turno
      .addShiftTableCell
        .divColorPicker
          color-picker(ng-model='shift.color' options="shiftColorOptions")

  button.fc-button(type="button" ng-click="closeThisDialog(shift)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/calendar-menu/addShiftDialog.html
<div class="fc fc-unthemed fc-ltr"><div class="addShiftHeader">Nuevo Turno</div><br/><form><div class="addShiftTableRow"><div class="addShiftTableCell"><label for="shiftName">Nombre</label></div><div class="addShiftTableCell"><div class="eventInputCell"><input type="text" name="shiftName" ng-model="shift.name"/></div></div></div><div class="addShiftTableRow"><div class="addShiftTableCell"><label for="shiftColor">Color Turno</label></div><div class="addShiftTableCell"><div class="divColorPicker"><color-picker ng-model="shift.color" options="shiftColorOptions"></color-picker></div></div></div></form><button type="button" ng-click="closeThisDialog(shift)" class="fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></div>
