src/app/calendar-menu/calendarMenu.jade
div.divCalendarMenu
    form.formCalendarMenu(name="menuForm")
      select.selectCalendar(ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.calendars"
                            ng-model="CalendarMenuCtrl.calendarSelected"
                            ng-change="CalendarMenuCtrl.switchCalendar()")
      button(type="button"  name="addCalendar" ng-click="CalendarMenuCtrl.addCalendar()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-calendar-plus-o
      button(type="button"  name="addEvent" ng-click="CalendarMenuCtrl.addEvent()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-plus-square
      select.selectShift(ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.shifts"
                         ng-model="CalendarMenuCtrl.shiftSelected"
                         ng-change="CalendarMenuCtrl.switchShift()")
      button(type="button"  name="addShift" ng-click="CalendarMenuCtrl.addShift()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-plus-circle
      button(type="button"  name="addShift" ng-click="CalendarMenuCtrl.exportImage()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-file-image-o

src/app/calendar-menu/calendarMenu.html
<div class="divCalendarMenu"><form name="menuForm" class="formCalendarMenu"><select ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.calendars" ng-model="CalendarMenuCtrl.calendarSelected" ng-change="CalendarMenuCtrl.switchCalendar()" class="selectCalendar"></select><button type="button" name="addCalendar" ng-click="CalendarMenuCtrl.addCalendar()" class="calendarMenuButton"><div class="calendar-menu--icon"><i class="fa fa-calendar-plus-o"></i></div></button><button type="button" name="addEvent" ng-click="CalendarMenuCtrl.addEvent()" class="calendarMenuButton"><div class="calendar-menu--icon"><i class="fa fa-plus-square"></i></div></button><select ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.shifts" ng-model="CalendarMenuCtrl.shiftSelected" ng-change="CalendarMenuCtrl.switchShift()" class="selectShift"></select><button type="button" name="addShift" ng-click="CalendarMenuCtrl.addShift()" class="calendarMenuButton"><div class="calendar-menu--icon"><i class="fa fa-plus-circle"></i></div></button><button type="button" name="addShift" ng-click="CalendarMenuCtrl.exportImage()" class="calendarMenuButton"><div class="calendar-menu--icon"><i class="fa fa-file-image-o"></i></div></button></form></div>
