src/app/main/main.html
<div ng-controller="MainViewController as MainViewCtrl" class="mainView"><div ng-if="view===&quot;Calendario&quot;" class="divCalendar"><calendar-menu></calendar-menu><br/><calendar-widget></calendar-widget><br/><hr/></div><div ng-if="view===&quot;Gestion&quot;" class="divGestionMenu"><gestion-widget></gestion-widget></div><div ng-if="view===&quot;Compartir&quot;" class="divShare"><header>This is share menu</header></div><div ng-if="view===&quot;Importar&quot;" class="divImport"><import-widget></import-widget></div><div ng-if="view===&quot;Exportar&quot;" class="divSave"><export-widget></export-widget></div><div ng-if="view===&quot;Backup&quot;" class="divBackup"><backup-widget></backup-widget></div><div ng-if="view===&quot;Restaurar Backup&quot;" class="divRestoreBackup"><restore-widget></restore-widget></div></div>

src/app/main/main.jade
.mainView(ng-controller="MainViewController as MainViewCtrl")
  .divCalendar(ng-if='view==="Calendario"')
    calendar-menu
    br
    calendar-widget
    br
    hr
  .divGestionMenu(ng-if='view==="Gestion"')
    gestion-widget
  .divShare(ng-if='view==="Compartir"')
    header This is share menu
  .divImport(ng-if='view==="Importar"')
    import-widget
  .divSave(ng-if='view==="Exportar"')
    export-widget
  .divBackup(ng-if='view==="Backup"')
    backup-widget
  .divRestoreBackup(ng-if='view==="Restaurar Backup"')
    restore-widget
