src/app/restore/restoreConfirmDialog.html
<div class="restoreConfirmDialog"><h3>Restaurar Backup</h3><form class="fc-button-group"><br/><span>Desea restaurar el backup seleccionado? Esta operacion borrara toda la informacion de calendarios, turnos y eventos actual.</span><br/><br/><button type="button" ng-click="confirm()" class="fc-button">Restaurar</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></form></div>

src/app/restore/restoreConfirmDialog.jade
.restoreConfirmDialog
  h3 Restaurar Backup
  form.fc-button-group
    br
    span Desea restaurar el backup seleccionado? Esta operacion borrara toda la informacion de calendarios, turnos y eventos actual.
    br
    br
    button.fc-button(type="button" ng-click="confirm()") Restaurar
    button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
