src/app/export/exportWidget.jade
.exportWidget
  .formExportWidget
    form
      span Seleccione Calendario
      br
      label(for="selectCalendar")
      select.selectShift(ng-options="value.id as value.name for (key,value) in ExportWidgetCtrl.calendars"
                         ng-model="ExportWidgetCtrl.calendarSelectedId"
                         ng-change="ExportWidgetCtrl.changeExportFilename()"
      )
      br
      span Seleccione Formato
      br
      label(for="selectExport")
      select.selectShift(ng-options="value.id as value.label for (key,value) in ExportWidgetCtrl.exportOptions"
                         ng-model="ExportWidgetCtrl.formatSelectedId"
                         ng-change="ExportWidgetCtrl.changeExportFilename()"
                         )
      br
      span Nombre del Fichero
      br
      input(ng-model="ExportWidgetCtrl.exportFilename")
      br
      br
      button(type="button" ng-click="ExportWidgetCtrl.exportCalendar()") Guardar

src/app/export/exportWidget.html
<div class="exportWidget"><div class="formExportWidget"><form><span>Seleccione Calendario</span><br/><label for="selectCalendar"></label><select ng-options="value.id as value.name for (key,value) in ExportWidgetCtrl.calendars" ng-model="ExportWidgetCtrl.calendarSelectedId" ng-change="ExportWidgetCtrl.changeExportFilename()" class="selectShift"></select><br/><span>Seleccione Formato</span><br/><label for="selectExport"></label><select ng-options="value.id as value.label for (key,value) in ExportWidgetCtrl.exportOptions" ng-model="ExportWidgetCtrl.formatSelectedId" ng-change="ExportWidgetCtrl.changeExportFilename()" class="selectShift"></select><br/><span>Nombre del Fichero</span><br/><input ng-model="ExportWidgetCtrl.exportFilename"/><br/><br/><button type="button" ng-click="ExportWidgetCtrl.exportCalendar()">Guardar</button></form></div></div>
