src/app/import/importConfirmDialog.jade
.fc.fc-unthemed.fc-ltr
  h3 Importar Calendarios
  form.fc-button-group
    br
    span Ya existe un calendario con el nombre {{calendarFoundName}}
    br
    span Desea sobreescribir el calendario existente?
    br
    button.fc-button(type="button" ng-click="confirm()") Sobreescribir
    button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/import/importConfirmDialog.html
<div class="fc fc-unthemed fc-ltr"><h3>Importar Calendarios</h3><form class="fc-button-group"><br/><span>Ya existe un calendario con el nombre {{calendarFoundName}}</span><br/><span>Desea sobreescribir el calendario existente?</span><br/><button type="button" ng-click="confirm()" class="fc-button">Sobreescribir</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></form></div>
