src/app/import/importWidget.jade
.importWidget
  .formImportWidget
    form
      span Seleccione Fichero
      br
      br
      input.inputImportFile(type="file" fileread="ImportWidgetCtrl.getFile($fileContent)")
      br
      br
      button(type="button" ng-click="ImportWidgetCtrl.importFile()") Importar

src/app/import/importWidget.html
<div class="importWidget"><div class="formImportWidget"><form><span>Seleccione Fichero</span><br/><br/><input type="file" fileread="ImportWidgetCtrl.getFile($fileContent)" class="inputImportFile"/><br/><br/><button type="button" ng-click="ImportWidgetCtrl.importFile()">Importar</button></form></div></div>
