src/app/calendar/editEventDialog.jade
.fc.fc-unthemed.fc-ltr
  .addEventHeader Editar Evento
  form
    .addEventTableRow
      .addEventTableCell
        label(for="calendarName") Evento &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        .eventInputCell
          input(type="text" name="evento" ng-model='editEvent.title' required)
    .addEventTableRow
      .addEventTableCell
        label(for="inicioEvento") Inicio &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="datetime" name="inicioEvento" ng-model='editEvent.start' required)
    .addEventTableRow
      .addEventTableCell
        label(for="finEvento") Fin &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="datetime" name="finEvento" ng-model='editEvent.end' required)
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(editEvent)") Guardar
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/calendar/editEventDialog.html
<div class="fc fc-unthemed fc-ltr"><div class="addEventHeader">Editar Evento</div><form><div class="addEventTableRow"><div class="addEventTableCell"><label for="calendarName">Evento &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><div class="eventInputCell"><input type="text" name="evento" ng-model="editEvent.title" required="required"/></div></div></div><div class="addEventTableRow"><div class="addEventTableCell"><label for="inicioEvento">Inicio &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><input type="datetime" name="inicioEvento" ng-model="editEvent.start" required="required"/></div></div><div class="addEventTableRow"><div class="addEventTableCell"><label for="finEvento">Fin &nbsp;&nbsp;&nbsp;</label></div><div class="addEventTableCell"><input type="datetime" name="finEvento" ng-model="editEvent.end" required="required"/></div></div><button type="button" ng-click="closeThisDialog(editEvent)" class="calendarMenuButton fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="calendarMenuButton fc-button">Cancelar</button></form></div>
