src/app/gestion/editShiftDialog.jade
.editShiftDialog
  .editShiftHeader Editar Turno
  br
  form
    .editShiftTableRow
      .editShiftTableCell
        label(for="shiftName") Nombre
      .editShiftTableCell
        .eventInputCell
          input(type="text" name="editShiftName" ng-model='editShiftName')
    .editShiftTableRow
      .editShiftTableCell
        label(for="shiftColor") Color Turno
      .editShiftTableCell
        .divColorPicker
          color-picker(ng-model='editShiftColor' options="shiftColorOptions")

  button.fc-button(type="button" ng-click="closeThisDialog({'editShiftName':editShiftName, 'editShiftColor': editShiftColor})") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/gestion/editShiftDialog.html
<div class="editShiftDialog"><div class="editShiftHeader">Editar Turno</div><br/><form><div class="editShiftTableRow"><div class="editShiftTableCell"><label for="shiftName">Nombre</label></div><div class="editShiftTableCell"><div class="eventInputCell"><input type="text" name="editShiftName" ng-model="editShiftName"/></div></div></div><div class="editShiftTableRow"><div class="editShiftTableCell"><label for="shiftColor">Color Turno</label></div><div class="editShiftTableCell"><div class="divColorPicker"><color-picker ng-model="editShiftColor" options="shiftColorOptions"></color-picker></div></div></div></form><button type="button" ng-click="closeThisDialog({'editShiftName':editShiftName, 'editShiftColor': editShiftColor})" class="fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></div>
