src/app/gestion/editCalendarDialog.jade
.editCalendarDialog
  .editCalendarHeader Editar Calendario
  br
  form
    .editCalendarTableRow
      .editCalendarTableCell
        label(for="calendarName") Nombre Calendario
    .editCalendarTableRow
      .editCalendarTableCell
        .eventInputCell
          input(type="text" name="editCalendarName" ng-model='editCalendarName')

  button.fc-button(type="button" ng-click="closeThisDialog(editCalendarName)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar

src/app/gestion/editCalendarDialog.html
<div class="editCalendarDialog"><div class="editCalendarHeader">Editar Calendario</div><br/><form><div class="editCalendarTableRow"><div class="editCalendarTableCell"><label for="calendarName">Nombre Calendario</label></div></div><div class="editCalendarTableRow"><div class="editCalendarTableCell"><div class="eventInputCell"><input type="text" name="editCalendarName" ng-model="editCalendarName"/></div></div></div></form><button type="button" ng-click="closeThisDialog(editCalendarName)" class="fc-button">Guardar</button><button type="button" ng-click="closeThisDialog(null)" class="fc-button">Cancelar</button></div>
