src/app/gestion/gestionWidget.jade
.gestionView
  h2 Calendarios
  .calendarGrid(ng-model="GestionWidgetCtrl.calendarGrid" ui-grid="GestionWidgetCtrl.calendarGridOptions")
  br
  h2 Turnos
  .shiftGrid(ng-model="GestionWidgetCtrl.shiftGrid" ui-grid="GestionWidgetCtrl.shiftGridOptions")
  br
  h2 Gestion de Turnos
  .shiftManagementGrid(ng-model="GestionWidgetCtrl.shiftManagementGrid" ui-grid="GestionWidgetCtrl.managementGridOptions" ui-grid-grouping)

src/app/gestion/gestionWidget.html
<div class="gestionView"><h2>Calendarios</h2><div ng-model="GestionWidgetCtrl.calendarGrid" ui-grid="GestionWidgetCtrl.calendarGridOptions" class="calendarGrid"></div><br/><h2>Turnos</h2><div ng-model="GestionWidgetCtrl.shiftGrid" ui-grid="GestionWidgetCtrl.shiftGridOptions" class="shiftGrid"></div><br/><h2>Gestion de Turnos</h2><div ng-model="GestionWidgetCtrl.shiftManagementGrid" ui-grid="GestionWidgetCtrl.managementGridOptions" ui-grid-grouping="ui-grid-grouping" class="shiftManagementGrid"></div></div>
